<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abstractionizer.ledger.read.storage.rmdb.mapper.BalanceHistoryFiatMapper">

    <insert id="insertBatch">
        INSERT INTO balance_history_fiat (entity_id, account_id, wallet_id, asset_code, asset_name, source_wallet_id, target_wallet_id, amount, balance)
        VALUES
        <foreach collection="entities" item="item" separator=",">
            (#{item.entityId},#{item.accountId},#{item.walletId},#{item.assetCode},#{item.assetName}, #{item.sourceWalletId}, #{item.targetWalletId}, #{item.amount}, #{item.balance})
        </foreach>
    </insert>

    <select id="selectByEntityIdAndAccountIdAndWalletIdAndFromDateAndToDate"
            resultType="com.abstractionizer.ledger.read.model.vo.BalanceHistoryVoFiatVo">
        SELECT created_at, entity_id, account_id, wallet_id, asset_code, asset_name, source_wallet_id, target_wallet_id, amount, balance
        FROM balance_history_fiat
        WHERE entity_id = #{entityId} AND account_id = #{accountId} AND wallet_id = #{walletId} AND created_at BETWEEN #{from} AND #{to}
        ORDER BY created_at DESC
    </select>
</mapper>