<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abstractionizer.ledger.write.storage.rmdb.mapper.AccountMapper">

    <select id="findById"
            resultType="com.abstractionizer.ledger.write.storage.rmdb.entity.AccountEntity">
        SELECT *
        FROM account
        WHERE id = #{id}
    </select>

    <select id="selectByIdAndWalletId" resultType="com.abstractionizer.ledger.write.model.vo.WalletVo">
        SELECT w.id, a.type AS assetType, a.code AS assetCode, a.name AS assetName, w.balance w.freeze_balance
        FROM account acc
        JOIN wallet w ON w.account_id = acc.id
        JOIN asset a ON a.id = w.asset_id
        WHERE a.id = #{accountId} AND w.id = #{wallet_id}
    </select>

    <update id="updateAccountStatus">
        UPDATE account
        SET state = #{state}
        WHERE id = #{id}
    </update>

</mapper>